@charset "UTF-8";

body {
  font-family: "Rubik", sans-serif;
  position: relative;
}

a {
  color: red;
}

a:hover,
a:focus {
  color: red;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
  color: #e2231b;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  color: red;
  letter-spacing: -1px;
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  color: red;
  font-size: 33px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
}

p {
  color: #959094;
}

.text-primary {
  color: #fff !important;
}

.light-font {
  font-weight: 300;
}

.btn-outline-light:hover {
  color: #ff0000;
}

.light-bg {
  background-color: #faf6fb;
}

.section {
  padding: 40px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 3rem;
}

.section-title small {
  color: #998a9b;
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
}

/* NAVBAR
----------------------*/

.nav-menu {
  padding: 1rem 0;
  transition: all 0.3s ease;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
  padding: 0;
}

.navbar-nav .nav-link {
  position: relative;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 14px;
  }
  .navbar-nav > .nav-item > .nav-link.active:after {
    content: "";
    border-bottom: 2px solid red;
    left: 1rem;
    right: 1rem;
    bottom: 5px;
    height: 1px;
    position: absolute;
  }
}

@media (max-width: 991px) {
  .navbar-nav.is-scrolling {
    padding-bottom: 1rem;
  }
  .navbar-nav .nav-item {
    text-align: center;
  }
}

/* HERO
----------------------*/

header {
  padding: 100px 0 0;
  text-align: center;
  color: #fff;
}
.owl-dots {
  visibility: collapse;
}
.bg-red {
  background-color: #e2231b;
}

.circle-icon {
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  background-color: #fff;
  color: red;
  font-size: 48px;
  text-align: center;
  line-height: 80px;
  font-weight: 300;
  transition: all 0.3s ease;
}

@media (max-width: 992px) {
  .circle-icon {
    width: 70px;
    height: 70px;
    font-size: 28px;
    line-height: 50px;
  }
}

.ui-steps li:hover .circle-icon {
  background-image: -moz-linear-gradient(122deg, #ff0000 0%, #ff0000 100%);
  background-image: -webkit-linear-gradient(122deg, #ff0000 0%, #ff0000 100%);
  background-image: -ms-linear-gradient(122deg, #ff0000 0%, #ff0000 100%);
  background-image: linear-gradient(122deg, #ff0000 0%, #ff0000 100%);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.09);
  color: #fff;
}

.ui-steps li {
  padding: 15px 0;
}

.ui-steps li:not(:last-child) {
  border-bottom: 1px solid #f8e3f0;
}

.perspective-phone {
  position: relative;
  z-index: -1;
}

@media (min-width: 992px) {
  .perspective-phone {
    margin-top: -150px;
  }
}

/*  INFORMASI
----------------------*/
.owl-stage {
  margin-bottom: 0;
}

.owl-carousel .owl-item img.client-img {
  width: 110px;
  margin: 30px auto;
  border-radius: 50%;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

.owl-next.disabled,
.owl-prev.disabled {
  opacity: 0.5;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

/* .owl-theme .owl-dots .owl-dot span {
  background: #e7d9eb;
  width: 35px;
  height: 8px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
} */

.owl-theme .owl-dots .owl-dot:hover span {
  background: red;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: red;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

/*  IMAGE GALLERY
----------------------*/

.img-gallery .owl-item {
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
  transform: scale(0.8);
  transition: all 0.3s ease-in;
}

.img-gallery .owl-item.center {
  transform: scale(1);
}

/*  Download
----------------------*/

.call-to-action {
  text-align: center;
  color: #fff;
  margin: 3rem 0;
}

.call-to-action .box-icon {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  transform: scale(0.85);
  margin-bottom: 2.5rem;
}

.call-to-action h2 {
  color: #fff;
}

.call-to-action .tagline {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  max-width: 650px;
  margin: 0 auto;
}

.btn-light img {
  margin-right: 0.4rem;
  vertical-align: text-bottom;
}
.kota {
  position: absolute;

  z-index: -1;
}

/*  FOOTER
----------------------*/

.social-icons {
  text-align: right;
}

.social-icons a {
  background-color: #fff;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  margin: 0 0.3rem;
  border-radius: 5px;
  color: red;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  text-decoration: none;
  color: red;
}

@media (max-width: 991px) {
  .social-icons {
    text-align: center;
    margin-top: 2rem;
  }
}
